# Trabalhando com Tipos em Python


Tempo estimado necessário: **10** minutos
    

## Objetivos

Após concluir este laboratório, você será capaz de:

* Trabalhar com vários tipos de dados em Python
* Converter os dados de um tipo para outro

<h2>Tabela de Conteúdos</h2>
<div class="alert alert-block" style="margin-top: 20px">
<ul>
<a href="#Types-of-objects-in-Python">Tipos de objetos em Python</a>
<ul>
<li><a href="#Integers">Inteiros</a></li>
<li><a href="#Floats">Números de ponto flutuante</a></li>
<li><a href="#Converting-from-one-object-type-to-a-different-object-type">Convertendo de um tipo de objeto para outro</a></li>
<li><a href="#Boolean-data-type">Tipo de dado Booleano</a></li>
<li><a href="#Exercise:-Types">Exercício: Tipos</a></li>
</ul>

</ul>
</div>
<hr/>

## Tipos de objetos em Python

<p>Python é uma linguagem orientada a objetos. Existem muitos tipos diferentes de objetos em Python. Vamos começar com os tipos de objetos mais comuns: <i>strings</i>, <i>inteiros</i> e <i>floats</i>. Sempre que você escreve palavras (texto) em Python, está usando <i>strings de caracteres</i> (ou simplesmente strings). Os números mais comuns, por outro lado, são os <i>inteiros</i> (por exemplo, -1, 0, 100) e os <i>floats</i>, que representam números reais (por exemplo, 3.14, -42.0).</p>

<a align="center">
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesObjects.png" width="600"/>
</a>

<p>As células de código a seguir contêm alguns exemplos.</p>

In [ ]:
# Integer

11

In [ ]:
# Float

2.14

In [ ]:
# String

"Hello, Python 101!"

<p>Você pode fazer o Python informar o tipo de uma expressão usando a função embutida <code>type()</code>. Você notará que o Python se refere a inteiros como <code>int</code>, a números de ponto flutuante como <code>float</code> e a strings de caracteres como <code>str</code>.</p>

In [ ]:
# Type of 12

type(12)

In [ ]:
# Type of 2.14

type(2.14)

In [ ]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

<p>Na célula de código abaixo, use a função <code>type()</code> para verificar o tipo de objeto de <code>12.0</code>.</p>

In [ ]:
# Escreva seu código abaixo. Não se esqueça de pressionar Shift+Enter para executar a célula

<details><summary>Clique aqui para ver a solução</summary>

```python
type(12.0)

```

</details>

### Inteiros

<p>Aqui estão alguns exemplos de inteiros. Inteiros podem ser números negativos ou positivos:</p>

<a align="center">
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesInt.png" width="600"/>
</a>

<p>Podemos verificar isso usando, como você deve ter imaginado, a função <code>type()</code>:</p>

In [ ]:
# Print the type of -1

type(-1)

In [ ]:
# Print the type of 4

type(4)

In [ ]:
# Print the type of 0

type(0)

### Números de ponto flutuante

<p>Números de ponto flutuante representam números reais; eles são um superconjunto dos números inteiros, mas também incluem "números com decimais". Existem algumas limitações quanto à representação de números reais por máquinas, mas os números de ponto flutuante são uma boa aproximação na maioria dos casos. Você pode aprender mais sobre os detalhes dos floats no seu ambiente de execução verificando o valor de <code>sys.float_info</code>. Isso também mostrará qual é o maior e o menor número que podem ser representados com eles.</p>
<p>Mais uma vez, você pode testar alguns exemplos com a função <code>type()</code>:</p>

In [ ]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

In [ ]:
# Print the type of 0.5

type(0.5)

In [ ]:
# Print the type of 0.56

type(0.56)

In [ ]:
# System settings about float type
import sys
sys.float_info

### Convertendo de um tipo de objeto para outro

<p>Você pode mudar o tipo de um objeto em Python; isso é chamado de conversão de tipo (typecasting). Por exemplo, você pode converter um <i>inteiro</i> em um <i>float</i> (por exemplo, de 2 para 2.0).</p>
<p>Vamos tentar:</p>

In [ ]:
# Verify that this is an integer

type(2)

#### Convertendo inteiros para floats
<p>Vamos converter o inteiro 2 para float:</p>

In [ ]:
# Convert 2 to a float

float(2)

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

<p>Quando convertemos um inteiro para float, na verdade não mudamos o valor (isto é, o significando) do número. No entanto, se convertermos um float para inteiro, podemos potencialmente perder algumas informações. Por exemplo, se convertermos o float 1.1 para inteiro, obteremos 1 e perderemos a informação decimal (ou seja, 0.1):</p>

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

<h4>Convertendo de strings para inteiros ou floats</h4>

<p>Às vezes, podemos ter uma string que contém um número. Nesse caso, podemos converter essa string que representa um número em um inteiro usando <code>int()</code>:</p>

In [ ]:
# Convert a string into an integer

int('1')

<p>Mas se você tentar fazer isso com uma string que não corresponde exatamente a um número, receberá um erro. Tente o seguinte:</p>

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

<p>Você também pode converter strings que contêm números de ponto flutuante em objetos do tipo <i>float</i>:</p>

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Dica:] Note que strings podem ser representadas com aspas simples (<code>'1.2'</code>) ou aspas duplas (<code>"1.2"</code>), mas você não pode misturar ambas (por exemplo, <code>"1.2'</code>).
</div>
<hr/>

<h4>Convertendo números em strings</h4>

<p>Se podemos converter strings em números, é natural supor que também podemos converter números em strings, certo?</p>

In [ ]:
# Convert an integer to a string

str(1)

<p>E não há razão para que não possamos converter floats em strings também:</p>

In [ ]:
# Convert a float to a string

str(1.2)

### Tipo de dado Booleano

<p><i>Booleano</i> é outro tipo importante em Python. Um objeto do tipo <i>Booleano</i> pode assumir um de dois valores: <code>True</code> ou <code>False</code>:</p>

In [ ]:
# Value true

True

<p>Observe que o valor <code>True</code> tem um "T" maiúsculo. O mesmo vale para <code>False</code> (ou seja, você deve usar o "F" maiúsculo).</p>

In [ ]:
# Value false

False

<p>Quando você pede ao Python para exibir o tipo de um objeto booleano, ele mostrará <code>bool</code>, que significa <i>booleano</i>:</p>

In [ ]:
# Type of True

type(True)

In [ ]:
# Type of False

type(False)

<p>Podemos converter objetos booleanos para outros tipos de dados. Se convertermos um booleano com valor <code>True</code> para inteiro ou float, obteremos um. Se convertermos um booleano com valor <code>False</code> para inteiro ou float, obteremos zero. Da mesma forma, se convertermos 1 para um Booleano, obtemos <code>True</code>. E se convertermos 0 para um Booleano, obtemos <code>False</code>. Vamos testar:</p>

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

### Exercício: Tipos

<p>Qual é o tipo de dado do resultado de: <code>6 / 2</code>?</p>

In [ ]:
# Escreva seu código abaixo. Não se esqueça de pressionar Shift+Enter para executar a célula

<details><summary>Clique aqui para ver a solução</summary>

```python
type(6/2) # float

```

</details>

<p>Qual é o tipo do resultado de: <code>6 // 2</code>? (Observe a dupla barra <code>//</code>.)</p>

In [ ]:
# Escreva seu código abaixo. Não se esqueça de pressionar Shift+Enter para executar a célula

<details><summary>Clique aqui para ver a solução</summary>

```python
type(6//2) # int, as the double slashes stand for integer division 

```

</details>

<p>Qual é o tipo do resultado de: <code>"Hello, World!"</code>?</p>

In [ ]:
# Escreva seu código abaixo. Não se esqueça de pressionar Shift+Enter para executar a célula

<details><summary>Clique aqui para ver a solução</summary>

```python

type("Hello, World!") 

```

</details>

<hr/>

<p>Qual é o tipo do resultado de: <code>"hello" == "world"</code>?</p>

In [ ]:
# Escreva seu código abaixo. Não se esqueça de pressionar Shift+Enter para executar a célula

<details><summary>Clique aqui para ver a solução</summary>

```python

type("hello" == "world")  

```

</details>

<p>Escreva o código para converter o seguinte número que representa um employeeid <strong>"1001"</strong> para um inteiro</p>

In [ ]:
# Escreva seu código abaixo. Não se esqueça de pressionar Shift+Enter para executar a célula

<details><summary>Clique aqui para ver a solução</summary>

```python

int("1001")

```

</details>

<p>Escreva o código para converter este número que representa um valor financeiro <strong>"1234.56"</strong> para um número de ponto flutuante</p>

In [ ]:
# Escreva seu código abaixo. Não se esqueça de pressionar Shift+Enter para executar a célula

<details><summary>Clique aqui para ver a solução</summary>

```python

float("1234.56")

```

</details>

<p>Escreva o código para converter este número de telefone <strong>123-456-7890</strong> para uma string</p>

In [ ]:
# Escreva seu código abaixo. Não se esqueça de pressionar Shift+Enter para executar a célula

<details><summary>Clique aqui para ver a solução</summary>

```python

str("123-456-7890")

```

</details>

<hr/>
<p>Parabéns, você concluiu seu laboratório prático sobre Tipos em Python.</p>
<hr/>

## Autor

<a href="https://linktr.ee/jeffersonspeck" target="_blank">Jefferson Rodrigo Speck</a>

## <h3 align="center"> © Este conteúdo não pode ser reproduzido sem autorização do autor <h3/>

```toggle## Change Log
```


```toggle|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
```
```toggle|---|---|---|---|
```
```toggle| 2024-4-03 | 2.3 | Lakshmi Holla| Split the lab |
```
```toggle| 2023-10-30 | 2.2 | Abhishek Gagneja| Updated instructions |
```
```toggle| 2022-01-10  | 2.1  | Malika  | Removed the readme for GitShare|
```
```toggle| 2020-08-26  | 2.0  | Lavanya | Moved lab to course repo in GitLab |
```